.container {
  max-width: 1440px;
  padding: 0 1.5rem;
}
// Hero
.hero {
  // @include laser;
  background: url('../img/property-front-rendering.png') no-repeat,
              linear-gradient(180deg, #007EC0 0%, rgba(0,72,140,0) 100%);
  background-size: cover;
  background-position: top center;
  color: $light-color;
  text-align: center;
  padding: 4rem 1rem 8rem;
  @include bp(xl) {
    padding: 6.444rem 1rem 14.667rem;
  }
  &__logo {
    // @include laser;
    position: relative;
    display: inline-block;
    margin: 0 auto 4rem;
    img:first-child {
      position: relative;
      z-index: 1;
      max-width: 75%;
      margin: 0 auto;
      @include bp(xl) {
        max-width: 100%;
      }
    }
    .now-leasing {
      position: absolute;
      top: 45%;
      right: -8%;
      width: 5rem;
      z-index: 0;
      // display: none;
      @include bp(xl) {
        display: block;
        top: 25%;
        right: -33%;
        width: auto;
      }
    }
  }
  &__heading {
    color: $light-color;
    font-size: 3em;
    @include bp(xl) {
      font-size: 5.333em;
    }
    margin: 0 0 1rem 0;
  }
  &__subhead {
    font-size: .975em;
    @include bp(xl) {
      font-size: 1.333em;
    }
    margin: 0 0 3rem 0;
  }
  &__cta {
    text-transform: uppercase;
    box-shadow: 4.9px 6.3px 13px 0 rgba(0,0,0,0.2);
  }
}
// Overview
.overview {
  background: radial-gradient(#FEFEFE, #DAD9D7);
  padding: 4rem 0;
  @include bp(xl) {
    padding: 8.889rem 0;
  }
  p {
    margin-bottom: 3.556rem;
  }
  &__stat, &__stat-title {
    text-align: center;
    display: block;
    line-height: 1;
  }
  &__stat {
    font-size: 4em;
    @include bp(xl) {
      font-size: 5.333em;
    }
    font-family: 'bebas-neue';
    color: $dark-green;
    margin-bottom: 1.25rem;
  }
  &__stat-title {
    font-weight: 700;
    font-size: 1em;
    @include bp(xl) {
      font-size: 1.333em;
    }
    color: $secondary-color;
    margin-bottom: 2.25rem;
  }
  &__floor-plan {
    margin: 3.667rem auto;
  }
}
// Why Gate 77?
.why-gate-77 {
  .columns {
    align-items: center;
  }
  padding: 4rem 0;
  @include bp(xl) {
    padding: 8.889rem 0;
  }
  h2 { // Benefits title
    color: $dark-color;
    font-family: 'open-sans';
    font-weight: 600;
    font-size: 1.333em;
    margin: 2rem 0;
    @include bp(xl) {
      margin: 0 0 2rem 0;
    }
  }
  ul { // Benefits & amentities
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    list-style: none;
    li {
      width: 100%;
      margin-bottom: 1.25rem;
      font-size: .8em;
      @include bp(small) {
        font-size: 1em;
      }
      @include bp(xl) {
        width: 50%;
        margin-bottom: 2.556rem;
      }
      &:last-child {
        margin-bottom: 0;
      }
      i { // Fontawesome icon
        width: 32px;
        text-align: center;
        margin-right: 1.333rem;
        font-size: 1.667em;
        color: $dark-green;
      }
    }
  }
}
// Planned Enhancements
.planned-enhancements {
  .columns {
    align-items: flex-start;
  }
  background: linear-gradient(to right, $secondary-color, $dark-blue);
  color: $light-color;
  padding: 4rem 0;
  @include bp(xl) {
    padding: 8.889rem 0;
  }
  h1 {
    color: $light-color;
  }
  p {
    margin-bottom: 4rem;
    @include bp(xl) {
      margin-bottom: 0;
    }
  }
}
// Take Flight
.take-flight {
  .columns {
    align-items: center;
  }
  padding: 4rem 0;
  @include bp(xl) {
    padding: 8.889rem 0;
  }
  background: linear-gradient(to right, $dark-green, $primary-color);
  color: $light-color;
  &__intro {
    text-align: center;
    max-width: 1168px;
    margin: 0 0 2rem 0;
    @include bp(xl) {
      margin: 0 auto 7.889rem;
    }
    h1 {
      color: $light-color;
    }
    p {
      font-size: 1em;
      line-height: 2;
      @include bp(xl) {
        font-size: 1.333em;
        line-height: 48px;
      }
    }
  }
  &__connect {
    padding-right: 3rem;
    margin-bottom: 2rem;
    @include bp(xl)
    h2 {
      color: $light-color;
      font-size: 2.667em;
    }
    address {
      margin: 1.833rem 0;
    }
    ul {
      list-style: none;
      margin: 0;
    }
  }
  &__form {
    @include bp(xl) {
      padding: 3rem;
      border-left: 1px solid $primary-color;
    }
    .form-group {
      margin-bottom: 2.556rem;
    }
    form {
      display: flex;
      flex-flow: row wrap;
    }
    label {
      font-size: 1.111em;
      margin-bottom: .5rem;
    }
    input {
      height: 2.667rem;
      box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.2);
    }
    textarea {
      width: 100%;
    }
    .form-name, .form-email {
      width: 47%;
      @include bp(xs) {
        width: 100%;
      }
    }
    .form-email {
      margin-left: auto;
    }
    .current-tenant {
      width: 100%;
      &__wrap {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        width: 100%;
        margin: 0;
        cursor: pointer;
        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
        }
        .checkbox {
          background: $light-color;
          width: 1.778em;
          height: 1.778em;
          margin: 0 1.25rem 0 0;
          box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.2);
          position: relative;
          cursor: pointer;
          &:after {
              content: "";
              position: absolute;
              display: none;
              left: 11px;
              top: 2px;
              width: 14px;
              height: 26px;
              border: solid white;
              border-width: 0 4px 4px 0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
          }
        }
        input:checked ~ .checkbox {
          background: $light-blue;
          &:after {
            display: block;
          }
        }
      }
    }
    &-submit {
      margin: 0 auto;
      @include bp(large) {
        margin: 0;
      }
      text-transform: uppercase;
      box-shadow: 4.9px 6.3px 13px 0 rgba(0,0,0,0.2);
    }
  }
  &__logo-bottom {
    margin: 6rem auto 0;
    @include bp(xl) {
      margin: 13.222rem auto 0;
    }
  }
}
